<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/orders">Orders</a> / Details</li>
  </ol>
</nav>

{{#each ro}}
  <div class="col-6">
    <h4>Table Number: {{this.table_no}}</h4>
    <h4>Total Price: {{this.total_price}}</h4>
  </div>
{{/each}}


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.price}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>